<!--<div class="row" style="background-color:red;">

    <div class="disk" id="js-disk" style="background: url(assets/images/laptop.png)">

        <div id="screen" style="width:360px;height:200px;background:red;margin-top:23px;margin-left:69px;">

        </div>




    </div>

</div>-->



<div class="parent" id="js-parent">

    <div class="keyboard" id="js-keyboard">


        <div class="screen-cover" id="js-screen-cover">
            <div class="screen" id="js-screen">
                <div class="monitor" id="js-monitor">

                    <h1>
                        <a href="" class="typewrite" data-period="100" data-type='[ "جهاد دانشگاهی ","جهاد دانشگاهی ","جهاد دانشگاهی ", "I am Creative.", "I Love Design.", "I Love to Develop." ]'>
                            <span class="wrap"></span>
                        </a>
                    </h1>

                </div>

            </div>


        </div>



    </div>

</div>